<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>974656214564-elvcfcrf94i2aij77gv1ildr9e7ibcge.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.974656214564-elvcfcrf94i2aij77gv1ildr9e7ibcge</string>
	<key>API_KEY</key>
	<string>AIzaSyAETuflffMYMVQ_0BZBuQ23sq6NFWuXO88</string>
	<key>GCM_SENDER_ID</key>
	<string>974656214564</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>EbrahimMoGedamy.messageApp</string>
	<key>PROJECT_ID</key>
	<string>chatmeapp-f5613</string>
	<key>STORAGE_BUCKET</key>
	<string>chatmeapp-f5613.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:974656214564:ios:27167b2d8de607e4</string>
	<key>DATABASE_URL</key>
	<string>https://chatmeapp-f5613.firebaseio.com</string>
</dict>
</plist>